**/.idea/
**/bazel-*
**/target/
**/node_modules/
target/
public/data/**
*.sw*
*~
.DS_Store
perf.*
.gdb*
cargo-cache/
cargo-target/
.cargo-target-strict
.docker-cargo-*
.docker-scratchpad
massif.*
cargo-timing.*
cargo-timing-*
memory-profiling_*
heaptrack.*
*.profraw

.env
docker-compose.yml

# Dev repository
dev/
.vscode/
